.portfolio-modal-image {
  width: 160px;
}

.custom-modal-dialog {
  max-width: 600px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media (max-width: 480px) {
  header img {
      object-fit: cover;
      height: 400px;
  }
}